p:hover {
    color:red;
    font-size: 30px;
}

.standout{
    color:gold;
}

.image1{
    border-radius: 50%;
}

.image2{
    border-radius: 30px;
}

.image3{
    opacity: 0.7;
}

.image4:hover
{
    filter: grayscale(50%);
}

.image5{
    filter: blur(20px);
}
